.photos-container {
    display: flex;
    justify-content: center;
    padding: 0rem 1.3rem 0rem 1.3rem;
}

.p-container {
    background: linear-gradient(190deg, rgba(236, 116, 128, 0) 80%, #EC7480 90%);
    display: flex;
    align-items:flex-end;
    justify-content:flex-start;
    position: absolute;
    margin: 0%;
    padding: 1rem 1rem 1rem 1rem;
    height: 33rem;
    width: 15rem;
    opacity: 1;
}

#hover-container {
    background: linear-gradient(179.66deg, rgba(236, 116, 128, 0) -21.85%, #EC7480 21.84%);
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    margin: 0%;
    padding: 3.2rem 4rem 0rem 3.5rem;
    height: 31.8em;
    width: 9.5rem;
    opacity: 0;
}

#hover-container:hover {
    opacity: 1;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 0.3s ease-in-out; /** Firefox **/
    -o-transition: all 0.3s ease-in-out; /** Opera **/
}

#name {
    margin: 0rem 0rem 0.5rem 0rem;
    font-family: 'Paytone One', sans-serif;
    font-size: 19px;
    color: white;
}

#description {
    font-family: 'Mada', sans-serif;
    color: white;
    font-size: 16px;
}

#signature {
    position: absolute;
    bottom: 15px;
    left: 25px;
    font-size: 15px;
    font-family: 'Mada', sans-serif;
    color: white;
}

.art {
    height: 35rem;
    position: relative;
}

.art-text {
    font-family: 'Paytone One', sans-serif;
    font-size: 19px;
    align-items: center;
    color: white;
    padding: 0.5px;
}

/*
background: linear-gradient(179.66deg, rgba(236, 116, 128, 0) -21.85%, #EC7480 21.84%);
    display: flex;
    align-items: center;
    position: absolute;
    height: 5rem;
    width: 11rem;
    padding: 0.5rem 3rem 0.5rem 3rem;
    opacity: 1;
*/