.questions-container {
    display: grid;
    justify-content: center;
    background-color: #F5F5F5;
}

.questions-title {
    font-family: 'Paytone One', sans-serif;
    padding: 2.5rem 6% 2rem 6%;
    font-size: 20px;
    color: #3A3A3A;
}

.questions-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}
