#questions-container {
    background-color: #F5F5F5;
    margin-top: 2rem;
    position: static;
    padding: 0.5rem;
}

#title-container {
    font-family: 'Paytone One', sans-serif;
    padding: 2.5rem 0rem 2rem 4rem;
    font-size: 20px;
    color: #3A3A3A;
}

#artfol-questions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0rem 0rem 2rem 4rem;
    height: 16rem;
}