.all-the-questions-container {
    width: 30rem;
    height: 5rem;
    margin: 1rem 1rem 1rem 1rem;
}

.question-styles {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.question-text {
    font-size: 21px;
    font-family: 'Mada', sans-serif;
    font-weight: 400;
}

#answer {
    width: 28rem;
    font-size: 19px;
    text-align: justify;
    margin-left: 1.3rem;
}

#polygon-figure {
    height: 14px;
    padding-right: 1.5%;
}

.rotation {
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -o-transform: rotate(-30deg); 
    -moz-transform: rotate(-30deg);
    align-items: center;
}

