#main-container {
    background: linear-gradient(180deg, rgba(236, 116, 128, 0) -49.18%, #EC7480 100%), url('../../Images//pexels-zaksheuskaya-1616403\ 1.png');
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title {
    font-family: 'Paytone One', sans-serif;
    color: white;
    width: 30rem;
    font-size: 2.5rem;
    font-weight: 400;
}

.main-logo-style {
    padding: 1rem 0rem 1rem 0rem;
}

.appStore-link {
    padding: 1rem 1rem 0rem 0rem;
    margin: 1rem 0rem 0rem 0rem;
}

.cellphone-photo {
    height: 42rem;
}